@{
    ViewData["Title"] = "Alma Verde";
    ViewData["Subtitle"] = "Consultoria Biológica";

}




<div class="text-center">

    <h1 class="">@ViewData["Title"]</h1>

    <p>A @ViewData["Title"] @ViewData["Subtitle"] surgiu com o objetivos de prestar o melhor atendimento ao seu cliente. Oferecendo uma diversidade de serviços e treinamentos, sempre respeitando o nosso cliente e, principalmente, o meio ambiente. </p>

</div>





